<% if (isAuthorized) { %>
<div class="bg-[#075640] col-start-1 row-start-1 col-span-4 row-span-1 gap-3 flex items-center">
    <a href="/dashboard"><img alt="header logo" src="/images/DashL.png" class="h-[50px] w-auto pl-4"/></a>
</div>
<% } %>