<div class="grid grid-cols-5 h-full">
    <!-- Left Sidebar with Branding (green background) -->
    <div class="col-span-2 bg-[#075640] flex flex-col justify-between items-center relative">
        <!-- DegreeSync top left -->
        <div class="absolute top-6 left-0 bg-white px-8 py-5 rounded-r-lg">
            <h1 class="text-[#075640] text-3xl font-bold">DegreeSync</h1>
        </div>

        <!-- UNCC Logo and Copyright -->
        <div class="flex flex-col items-center mb-12 mt-auto">
            <img alt="UNCC Logo" src="/images/Logo.png" class="h-full w-full object-contain max-h-[320px]" />
            <p class="text-white mt-4 text-sm">Copyright © 2024 DegreeSync</p>
        </div>
    </div>

    <!-- Right Side with Form (white background) -->
    <div class="col-span-3 bg-white flex flex-col justify-center items-center">
        <form action="/login" method="post" class="flex flex-col justify-center items-center gap-8 p-12 mt-16 w-2/3">
            <h1 class="text-6xl text-[#075640] font-bold mb-8">Welcome back! Sign in</h1>

            <!-- Input Fields for Email and Password -->
            <input type="email" required class="p-6 mb-6 text-3xl font-bold border-b-2 focus:outline-none focus:border-[#075640] w-full placeholder-italic placeholder-[#075640] placeholder-opacity-50" 
                   style="font-family: Helvetica, sans-serif; font-style: oblique;" placeholder="example@charlotte.edu" 
                   pattern="[a-zA-Z0-9._%+-]+@charlotte\.edu" title="Email must contain @charlotte.edu" name="email" />
                   
            <input type="password" required class="p-6 mb-6 text-3xl font-bold border-b-2 focus:outline-none focus:border-[#075640] w-full placeholder-italic placeholder-[#075640] placeholder-opacity-50" 
                   style="font-family: Helvetica, sans-serif; font-style: oblique;" placeholder="password" name="password" />

            <% if (err) { %>
                <h1 class="text-red-500 font-semibold text-xl">Invalid Email or Password</h1>
            <% } %>

            <!-- Login Button  -->
            <button type="submit" class="bg-[#075640] text-white px-8 py-4 rounded-lg text-4xl font-bold w-full max-w-[350px]">Login</button>

            <p class="mt-8 text-2xl">Don't have an account? <a href="/signup" class="text-blue-600 hover:underline">Create an account.</a></p>
        </form>
    </div>
</div>

<style>
    input::placeholder {
        font-weight: 300;
    }
</style>